################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MandiERP.App/v17
*.vsidx
/.vs/MandiERP.WebApp/FileContentIndex/7613c9fc-ad18-46df-86f0-dda835a13711.vsidx
**/bin/*
**/obj/*
/MandiERP.Abstractions/obj/*
/MandiERP.Abstractions/obj/*
/MandiERP.Abstractions/Debug/*
/MandiERP.Core.Abstraction/obj/Debug/net8.0/*
/MandiERP.Core.Abstraction/obj/Debug/net8.0/MandiERP.Core.Abstraction.assets.cache
/MandiERP.Core.Abstraction/obj/Debug/net8.0/MandiERP.Core.Abstraction.AssemblyInfoInputs.cache
/MandiERP.Core.Abstraction/obj/Debug/net8.0/MandiERP.Core.Abstraction.GeneratedMSBuildEditorConfig.editorconfig
/MandiERP.Core.Abstraction/obj/MandiERP.Core.Abstraction.csproj.nuget.dgspec.json
/MandiERP.Core.Abstraction/obj/project.assets.json
/MandiERP.Abstractions/obj/project.nuget.cache
/MandiERP.Core.Abstraction/obj/project.nuget.cache
/MandiERP.Abstractions/obj/Debug/net8.0/MandiERP.Abstractions.AssemblyInfo.cs
/MandiERP.Abstractions/obj/Debug/net8.0/MandiERP.Abstractions.AssemblyInfoInputs.cache
/MandiERP.Abstractions/obj/Debug/net8.0/MandiERP.Abstractions.assets.cache
/MandiERP.Abstractions/obj/Debug/net8.0/MandiERP.Abstractions.csproj.AssemblyReference.cache
/MandiERP.Abstractions/obj/Debug/net8.0/MandiERP.Abstractions.GeneratedMSBuildEditorConfig.editorconfig
/MandiERP.Abstractions/obj/Debug/net8.0/ref/MandiERP.Abstractions.dll
/MandiERP.Core.Abstraction/bin/Debug/net8.0/MandiERP.Core.Abstraction.dll
/MandiERP.Core.Abstraction/bin/Debug/net8.0/MandiERP.Core.Abstraction.pdb
/MandiERP.Core.Abstraction/obj/Debug/net8.0/ref/MandiERP.Core.Abstraction.dll
/MandiERP.Core.Abstraction/obj/Debug/net8.0/refint/MandiERP.Core.Abstraction.dll
/MandiERP.Core.DataContext/obj/Debug/net8.0/ref/MandiERP.Core.DataContext.dll
/MandiERP.Persistence/obj/Debug/net8.0/ref/MandiERP.Persistence.dll
/MandiERP.Service/obj/Debug/net8.0/ref/MandiERP.Service.dll
/MandiERP.WebApi/obj/Debug/net8.0/ref/MandiERP.WebApi.dll
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/MandiERP.WebApp/v17/.suo
/.vs/MandiERP.WebApp/v17/DocumentLayout.json
/.vs/MandiERP.WebApp/FileContentIndex/a88a7b82-59af-46cb-8352-9a3d49c01292.vsidx
*.sqlite-journal
/.vs/MandiERP.WebApp/DesignTimeBuild/.dtbcache.v2
/.vs/MandiERP.WebApp/v17/.futdcache.v2
/.vs/ProjectEvaluation/mandierp.webapp.metadata.v7.bin
/.vs/ProjectEvaluation/mandierp.webapp.projects.v7.bin
/MandiERPDB/.vs/MandiERPDB/FileContentIndex/read.lock
/MandiERPDB/MandiERPDB/MandiERPDB.dbmdl
/MandiERPDB/.vs/MandiERPDB/v17/.wsuo
/MandiERPDB/.vs/MandiERPDB/v17/.suo
